.awardContainer {
    /* text-align:center!important; */
    overflow: hidden;
    width:733.34px;
    height:566.67px;
}

.awardContainer * {
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin: 0 auto;

}

.awardImage {
    position:absolute;
    /* width:50%;  */
    /* height:auto; */

    width:733.33px;
    height:566.66px;
    /* aspect-ratio:22/17; */
    object-fit: cover;
}

.name {
    position:absolute;
    z-index:1;
    top:140px;
    right:180px;
    font-weight:700;
    font-size:2em;
}

.date {
    position: absolute;
    z-index:1;
    top:470px;
    right:500px;
    font-weight:600;
    font-size:1em;
}

/*  1100 850 */